<?xml version="1.0"?>
<config>
    <modules>
        <Mediotype_SociableLabs>
            <version>0.0.1</version>
        </Mediotype_SociableLabs>
    </modules>
    <global>
        <blocks>
            <mediotype_sociablelabs>
                <class>Mediotype_SociableLabs_Block</class>
            </mediotype_sociablelabs>
        </blocks>
        <helpers>
            <mediotype_sociablelabs>
                <class>Mediotype_SociableLabs_Helper</class>
            </mediotype_sociablelabs>
        </helpers>
        <models>
            <mediotype_sociablelabs>
                <class>Mediotype_SociableLabs_Model</class>
            </mediotype_sociablelabs>
        </models>
        <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <mediotype_sociablelabs>
                        <type>singleton</type>
                        <class>Mediotype_SociableLabs_Model_Observer</class>
                        <method>postTransactionAfterSaveOrder</method>
                    </mediotype_sociablelabs>
                </observers>
            </checkout_type_onepage_save_order_after>
            <customer_register_success>
                <observers>
                    <mediotype_sociablelabs>
                        <type>singleton</type>
                        <class>Mediotype_SociableLabs_Model_Observer</class>
                        <method>customerRegistrationSuccess</method>
                    </mediotype_sociablelabs>
                </observers>
            </customer_register_success>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <mediotype_sociablelabs>
                    <file>mediotype/sociablelabs/sociablelabs.xml</file>
                </mediotype_sociablelabs>
            </updates>
        </layout>
        <routers>
            <mediotype_sociablelabs>
                <use>standard</use>
                <args>
                    <module>Mediotype_SociableLabs</module>
                    <frontName>sociablelabs</frontName>
                </args>
            </mediotype_sociablelabs>
        </routers>
    </frontend>
    <default>
        <mediotype_sociablelabs>
            <general>
                <enabled>0</enabled>
            </general>
        </mediotype_sociablelabs>
    </default>
</config>